.editor {
  display: flex;
  gap: 20px;
}

textarea {
  width: 50%;
  height: 100vh;
  padding: 10px;
  font-size: 16px;
}

.preview {
  width: 50%;
  height: 100vh;
  padding: 10px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Light box shadow */
  border-radius: 8px;
}

.markdown-textarea {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Light box shadow */
  border-radius: 8px;
  border: none;
}
